.button--solid {
	border: none;
	background: $white;
	border-radius: 25px;
	color: $light-red;
	cursor: pointer;
	letter-spacing: 0.8px;
	font-weight: 500;
	font-family: "Ubuntu";
	padding: 16px 2px;
	width: 15ch;
}

.button--outline {
	@extend .button--solid;
	border: 1px solid $white;
	background: transparent;
	color: $white;
}

.button--clear {
	@extend .button--solid;
	background: none;
	color: $white;
}
