.container {
	display: flex;
	flex-direction: column;
	margin: 0 10%;
	overflow-x: hidden;
	@media screen and (max-width: $mobile-breakpoint) {
		margin: 0 5%;
	}
}

.header-row {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 4%;
	width: 100%;
}
